/*
*  Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
*  Common
*/
body > * {
    font-family: 'Noto Sans', sans-serif;
}

ul {
    list-style-type: none;
}

nav > ul a,
.flex-footer ul a {
    text-decoration: none;
}

nav > ul,
.flex-footer ul {
    gap: 12px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

footer {
    color: white;
}

/*
*  Typo
*/
header ul a,
footer ul a {
    color: white;
    font-size: 16px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

h4 {
    color: white;
    font-size: 14px;
}

.box-text h2 {
    font-size: 16px;
    font-weight: 300;
}

.company > h2 {
    font-size: 16px;
}

.price {
    font-size: 16px;
    font-weight: 300;
    color: #f00;
}

.price > span {
    font-size: inherit;
    font-weight: inherit;
    color: black;
    text-decoration: line-through;
}

.sticker {
    font-size: 18px;
}

/*
*  Header
*/
header {
    background-color: #FF6900;
    box-shadow: 0px 1px 4px rgb(90, 90, 90);
    height: 70px;
    padding: 17px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    flex-basis: 25%;
    display: flex;
}

nav > .logo {
    flex-basis: 50%;
}

.logo > a > img {
    display: block;
    height: 35px;
    margin: 0 auto;
}

.user-link {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
}



/*
*  Main prodotti
*/
main {
    padding-top: 120px;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
}

.box-product {
    width: calc((100% - 40px) / 3);
    height: 100%;
}


/*
*  Foto prodotti
*/
.box-image {
    position: relative;
    height: 100%;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.box-image:hover .static {
    display: none;
}

.static {
    position: absolute;
    top: 0;
    left: 0;
}


/*
*  Sticker
*/
.sticker {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.add-favorite {
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 1.65em;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: auto;
    width: 50px;
    height: 50px;
}

.add-favorite:hover {
    color: #f00;
}

.box-image span {
    color: white;
    padding: 2px 8px;
}

.discount {
    background-color: #f00;
}

.eco-product {
    background-color: #008000;
    left: 60px;
}



/*
*  Footer
*/
footer {
    background-color: #1a1a1a;
    margin-top: 60px;
    padding: 30px 0;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.company-links,
.social-links {
    display: flex;
}

.social-links a {
    font-size: 18px;
}